<div class="container home">
  <div class="row">
    <div class="col-lg-2"></div>
      <div class="col-lg-8 row_style">
        <h3>{{posts.title}}</h3>
          <div ng-repeat="x in posts.comments">
            <h4>{{x.body}}</h4>
            <h6>
              <p><span class="glyphicon glyphicon-plus-sign" ng-click="upVote($index)"></span> Upvotes: {{x.upvotes}}</p> 
              <p><span class="glyphicon glyphicon-minus-sign" ng-click="downVote($index)"></span> Downvotes: {{x.downvotes}}</p>
            </h6> 
          </div>
      </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<div class="row submit">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
          <form ng-submit="addComment()">
            <h3> Leave your comment </h3>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Your opinion" ng-model="body"></input>
            </div>
            <button type="submit" class="btn btn-primary" ng-submit="addComment()">Comment</button>
            <a class="btn btn-primary" href="#/Home">Back</a>
          </form>
      </div>
      <div class="col-sm-3"></div>
</div>